.form {
    padding: 40px;
    box-sizing: border-box;
    border: solid 3px #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (max-width: 1140px) { 
    .form {
        padding: 20px;
    }
}