.form__message {
    margin-bottom: 30px;
    padding: 10px;
    height: 30px;
    max-width: 420px;
    border-radius: 3px;
    border: none;
    font-size: 18px;
}
@media (max-width: 1140px) { 
    .form__message {
        margin-bottom: 30px;
        height: 20px;
        font-size: 14px;
    }
}